@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --backgroud-base: hsl(243, 96%, 9%);
  --background-img: url("../../public/bg-today-large.svg");
}

@theme inline {
  --font-dm: var(--font-dm);
  --background-image-desktop: var(--background-img);
}

body {
  background-color: var(--backgroud-base);
}
